body{
    font-family: Roboto,Arial, Helvetica, sans-serif;
}
video{
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    width: 100%;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
}
.first_section{
    text-align: center;
}
.input{
    height: 27px;
    width: 200px;
    border-radius: 3px;
    border:1px solid rgb(255, 255, 255);
}
.select_option{
    height: 30px;
    width: 200px;
    border-radius: 3px;
    border:1px solid rgb(255, 255, 255);
}
.cal{
    height: 30px;
    width: 140px;
    padding: 2px 5px;
    border-radius: 3px;
    border:1px solid grey;
    background-color: grey;
    color: white;
    cursor: pointer;
}