body{
    /* width: 600px;
    height: 500px; */
    background-image: url(/javascript/AdvanceJS-403-03/pexels-pixabay-255501.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(147, 27, 27);
    font-family: Roboto;
}
#container{
    padding-top: 20px;
    max-width: 330px;
    height: 610px;
    /* border: 1px solid black; */
    background-color: white;
    margin: 95px auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.841);
    /* text-align: center; */
    /* padding-left: 15px; */
}
#inner_div{
    margin: 0px 40px;
}
.line{
    width: 80%;
    /* margin: 0px auto; */
    margin-left: 25px;
    border: 1px solid rgba(0,0,0,0.15);
}
#button{
    margin-top:40px;
    margin-left: 12%;
    border: 1px solid brown;
    width: 250px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    color:brown;
    border-color:brown;
    font-size:14px;
    cursor:pointer;
    transition: background-color 0.4s, color 0.4s;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
}
#button:hover{
    background-color: brown;
    color:white;
}
#result_div{
    text-align: center;
    margin-top: 30px;
    /* visibility: hidden; */
}
#result{
    margin: 0px 0px;
    font-size: 40px;
}